.px1 {
 font-size: 15px; 
}

.px2 {
 font-size: 20px; 
}

.px3 {
 font-size: 25px; 
}

.px4 {
 font-size:30px; 
}

.px5 {
 font-size: 35px; 
}

.px6 {
 font-size: 40px; 
}

.px7 {
 font-size: 45px; 
}

.px8 {
 font-size: 50px; 
}

.px11 {
 height: 100px;
 width: 100px;
 background-color: white;
 border: 3px solid black;
 position: relative;
 z-index: 10;
}

.px12 {
 height: 200px;
 width: 200px;
 background-color: red;
 border: 3px solid black;
 position: relative;
 z-index: 9;
}

.px13 {
 height: 300px;
 width: 300px;
 background-color: orange;
 border: 3px solid black;
 position: relative;
 z-index: 8;
}

.px14 {
 height: 400px;
 width: 400px;
 background-color: yellow;
 border: 3px solid black;
 position: relative;
 z-index: 7;
}

.px15 {
 height: 500px;
 width: 500px;
 background-color: green;
 border: 3px solid black;
 position: relative;
 z-index: 6;
}

.px16 {
 height: 600px;
 width: 600px;
 background-color: greenyellow;
 border: 3px solid black;
 position: relative;
 z-index: 5;
}

.px17 {
 height: 700px;
 width: 700px;
 background-color: cyan;
 border: 3px solid black;
 position: relative;
 z-index: 4;
}

.px18 {
 height: 800px;
 width: 800px;
 background-color: blue;
 border: 3px solid black;
 position: relative;
 z-index: 3;
}

.px19 {
 height: 900px;
 width: 900px;
 background-color: violet;
 border: 3px solid black;
 position: relative;
 z-index: 2;
}

.px20 {
 height: 1000px;
 width: 1000px;
 background-color: pink;
 border: 3px solid black;
 position: relative;
 z-index: 1;
}

